*{
    padding: 0;
    margin: 0;
 
}
html {
    scroll-behavior: smooth;
  }
.container{
    max-width: 1200px;
    margin: 0 auto;
}
.header{
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    background: #000;
    position: fixed;
    left: 0;
    right: 0;
    z-index: 999;

}
.main-div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    /* background: transparent; */
    background: linear-gradient(rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.2)), #fff;
}
.navbar-logo a{
    text-decoration: none;
    color: #232d39;
    font-size: 30px;
    font-weight: 900;
}
.navbar-logo em{
    color: #ed563b;
    font-size: 30px;
    font-weight: 900;
}
.navbar-home{
    margin-left: 279px;
}
.navbar-home a{
    text-decoration: none;
    padding: 25px;
    font-weight: 500;
    color: #ed563b;  
    font-size: 16px;
    
}
.navbar-home a:hover{
    background-color: #ed563b;
    color: #fff;
    transition: ease-in-out 0.4s;
    
}
.banner{
    background:linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url(../image/cover\ pic.jpg);
    background-position: center;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}
.button a{
    text-decoration: none;
    padding: 15px 20px;
    background: #ed563b;
    color: #fff;
    margin-right: 100px;
}
.heading-banner h3{
    text-align: center;
    color: #fff;
    font-weight: 900;
    font-size: 25px;
    padding-top: 230px;

}
.heading-one-banner h1{
    color: #fff;
    font-size: 70px;
    font-weight: 900;
    text-align: center;
    padding-top: 18px;
}
.heading-one-banner span{
    color: #ed563b;
}
.button-banner{
    text-align: center;
    margin-top: 40px;
}
.button-banner a{
   text-decoration: none;
   color: #fff;
   padding: 15px 25px;
   background: #ed563b;
   
}
.heading-sectionA{
    padding-top: 100px;
}
.heading-sectionA h2{
    text-align: center;
    color: #232d39;
    font-size: 30px;
    font-weight: 900;

}
.heading-sectionA span{
    color: #ed563b;
    font-size: 30px;
    font-weight: 900;
}
.mini-image img{
    padding-left: 573px;
    padding-top: 20px;
}
.paragh-sectionA{
    font-size: 18px;
    line-height: 25px;
    color: #7a7a7a;
    text-align: center;
    width: 623px;
    margin-left: 285px;
    padding-top: 20px;
}
.final-section{
    display: flex;
    gap: 152px;
}
.main-image{
    display: flex;
    align-items: center;
    gap: 30px;
    
}
.image-gym img{
    margin-top: 80px;
}
.heading-gym h3{
    color: #232d39;
    font-size: 20px;
    padding-top: 60px;
}
.heading-gym p{
    font-size: 14px;
    margin-top: 10px; 
    padding-bottom: 10px; 
    width: 350px;
    color: #7a7a7a;
    font-size: 16px;
    line-height: 1.5;
}
.heading-gym a{
    color: #ed563b;
    text-decoration: none;
    font-size: 12px;
    
}
.flex-image{
    background: url(../image/cta-bg.jpg);
    padding: 80px 0px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 100px;
}
.heading-flex{
    text-align: center;
    margin-top: 40px;

}
.heading-flex h2{
    color: #fff;
    font-size: 35px;
    font-weight: 900;
}
.heading-flex span{
    color: #ed563b;
    font-size: 35px;
    font-weight: 900;
}
.text-flex p{
    text-align: center;
    color: #fff;
    font-size: 18px;
    width: 800px;
    padding-top: 20px;
    line-height: 1.5;
    padding-left: 285px;
    padding-bottom: 50px;

}
.flex-button a{
    text-align: center;
    text-decoration: none;
    padding: 15px 25px;
    background: #ed563b;
    color: #fff;
    margin-left: 578px;
}

.heading-center{
    padding-top: 100px;
}
.heading-center h2{
    text-align: center;
    color: #232d39;
    font-size: 30px;
    font-weight: 900;

}
.heading-center span{
    color: #ed563b;
    font-size: 30px;
    font-weight: 900;
}
.mene-image{
    padding-left: 573px;
    padding-top: 20px;
}
.text-center{
    font-size: 18px;
    line-height: 25px;
    color: #7a7a7a;
    text-align: center;
    width: 623px;
    margin-left: 285px;
    padding-top: 20px;
}
.finals-tabs{
    display: flex;
    align-items: center;
    gap: 59px;

}
.image-bow{
   box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
   border-radius: 2px;
   width: 300px;
   padding: 25px;
   margin-top: 60px;
}
.image-center{
    margin-top: -13px;
}
.image-center a{
    text-decoration: none;
    color: #232d39;
    font-size: 25px;
    font-weight: 500;
}
.button-center{
    margin-top: 50px;
}
.button-center a{
    text-decoration: none;
    padding: 18px 88px;
    background: #ed563b;
    color: #fff;
    font-size: 22px;
    font-weight: 900;
    border-radius: 10px;
}
.col-tabs1{
    /* box-shadow: 0 0 20px rgba(0, 0, 0, 0.2); */
    border-radius: 2px;
    width: 770px;

}
.image-tabs img{
    border-radius: 10px
}
.heading-tabs h2{
    color: #232d39;
    padding-top: 20px;
    font-size: 25px;
}
.text-tabs p{
    color: #7a7a7a;
    font-size: 18px;
    width: 800px;
    padding-top: 20px;
    line-height: 1.5;
}
.button-tabs{
    margin-top: 40px;
}
.button-tabs a{
    text-decoration: none;
    padding: 15px 30px;
    background: #ed563b;
    color: #fff;
    border-radius: 2px;
}
.schedule-image{
    background: url(../image/schedule-bg.jpg);
    padding: 0px 0px 140px 0px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 200px;
}
.heading-schedule{
    padding-top: 150px;
}
.heading-schedule h2{
    text-align: center;
    color: #fff;
    font-size: 30px;
    font-weight: 900;

}
.heading-schedule span{
    text-align: center;
    color: #ed563b;
    font-size: 30px;
    font-weight: 900;
}
.icron-schedule{
    padding-left: 642px;
    padding-top: 20px;
}
.text-schedule{
    font-size: 18px;
    line-height: 25px;
    color: #fff;
    text-align: center;
    width: 623px;
    margin-left: 364px;
    padding-top: 20px;
}
.table{
    margin-left: 192px;
    margin-top: 40px;
}
table th{
    padding: 60px;
    color: #fff;
}
.heading-train{
    padding-top: 150px;
}
.heading-train h2{
    text-align: center;
    color: #232d39;
    font-size: 30px;
    font-weight: 900;
}
.heading-train span{
    text-align: center;
    color: #ed563b;
    font-size: 30px;
    font-weight: 900;
}
.image-train{
    padding-left: 573px;
    padding-top: 20px;
}
.text-train{
    font-size: 18px;
    line-height: 25px;
    color: #7a7a7a;
    text-align: center;
    width: 623px;
    margin-left: 291px;
    padding-top: 20px;
}
.main-train{
    display: flex;
    gap: 70px;
    margin-top: 100px;

}
.card-train{
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    padding: 20px;
    width: 300px;
}
.image-card img{
    border-radius: 10px;
}
.card-mini p{
    color: #ed563b;
    padding-top: 10px;
    font-weight: 200;
}
.card-name{
    padding-top: 10px;
    font-weight: 500;
    color: #000;
}
.card-text p{
    color: #7a7a7a;
    line-height: 1.5;
    font-size: 18px;
    font-weight: 400;
    width: 300px;
    padding-top: 10px;
}
.icon i{
    padding: 5px;
}
.main-footer{
    display: flex;
    align-items: flex-end;
    margin-left: 15px;
    gap: 11px;

}
.mapouter {
    display: table;
}

.gmap_canvas {
    overflow: hidden;
    position: relative;
    height: 500px;
    width: 500px;
    background: #fff;
}
.gmap_canvas iframe {
    position: relative !important;
    z-index: 2 !important;
}

.gmap_canvas a {
    color: #fff !important;
    position: absolute !important;
    top: 0 !important;
    left: 0 !important;
    z-index: 0 !important;
}
.map{    
    margin-top: 140px;
}
.form-image{
    background: url(../image/contact-bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 61px;
}
form{
    margin-left: 65px;
}
form input{
    padding: 20px;
    width: 400px;
    margin-bottom: 31px;
}
form a{
    margin-left: 20px;
    text-decoration: none;
    padding: 15px 20px;
    background: #ed563b;
    color: #fff;
    margin-left: 10px;

}
.copyright p{
    padding-top: 20px;

}
.copyright h4{
    margin-top: 10px;

}
.copyright{
    text-align: center;
    padding: 50px;
    
}
